@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

body {
  min-height: 100vh;
  min-width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li,
ol li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "FiraSansCondensed";
  font-display: swap;
  src: url("../fonts/FiraSansCondensed-Bold.woff2") format("woff2"), url("../fonts/FiraSansCondensed-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "FiraSansCondensed";
  font-display: swap;
  src: url("../fonts/FiraSansCondensed-Regular.woff2") format("woff2"), url("../fonts/FiraSansCondensed-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --white: #fff;
  --black: #2d2d2d;
  --blue: #213268;
  --red: #d22304;
}

body {
  font-family: "FiraSansCondensed", serif;
  font-weight: 400;
  color: var(--black);
}

body._lock {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
  max-width: 100vw;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  flex: 1 1 auto;
}

.header__top {
  padding: 8px 0;
  background: #f5f5f5;
}

.header__top-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__phones {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__phone {
  font-size: 1.25rem;
  color: var(--black);
  transition: all 0.5s ease;
}

.header__socials {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__social {
  width: 24px;
  height: 24px;
}

.header__social svg {
  width: 100%;
  height: 100%;
}

.header__contacts {
  letter-spacing: 2%;
  color: var(--black);
  text-decoration: underline;
}

.header__body {
  display: flex;
  align-items: center;
  padding: 16px 0;
  gap: 16px;
}

.header__btn {
  font-size: 0.875rem;
  color: var(--white);
  background: var(--blue);
  padding: 12px 30px;
  border-radius: 3px;
  letter-spacing: 0.56px;
  transition: all 0.5s ease;
  white-space: nowrap;
}

.header__menu-icon {
  width: 24px;
  min-width: 24px;
  height: 16px;
  position: relative;
  display: none;
  z-index: 5;
  position: relative;
  cursor: pointer;
}

.header__menu-icon span {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 100%;
  height: 1px;
  background: var(--black);
  transition: all 0.5s ease;
}

.header__menu-icon::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0, -50%);
  height: 1px;
  width: 100%;
  background: var(--black);
  transition: all 0.5s ease;
}

.header__menu-icon::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  transform: translate(0, -50%);
  height: 1px;
  width: 100%;
  background: var(--black);
  transition: all 0.5s ease;
}

.logo {
  flex: 1 1 auto;
}

.logo__link {
  display: flex;
  align-items: center;
  max-width: -moz-fit-content;
  max-width: fit-content;
  gap: 8px;
}

.logo__link img {
  max-width: 92px;
  width: 100%;
  height: auto;
}

.logo__link span {
  font-size: 1.25rem;
  color: var(--black);
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.lang {
  white-space: nowrap;
}

.lang__link {
  color: var(--black);
}

.lang__link.active {
  opacity: 0.7;
}

.lang__link:not(:last-child)::after {
  content: " / ";
}

.menu {
  background: var(--blue);
  position: relative;
  z-index: 100;
}

.menu__close {
  display: block;
  position: relative;
  width: 24px;
  height: 24px;
  min-height: 24px;
  margin: 0 16px 16px 0;
  align-self: flex-end;
  cursor: pointer;
}

.menu__close::before,
.menu__close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--black);
}

.menu__close::before {
  transform: translate(0, -50%) rotate(45deg);
}

.menu__close::after {
  transform: translate(0, -50%) rotate(-45deg);
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__item {
  position: relative;
}

.menu__link {
  display: block;
  padding: 20px 16px;
  color: var(--white);
  transition: all 0.5s ease;
}

.menu__link.active {
  background: var(--red);
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  background: var(--red);
  padding: 16px 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.5s ease;
}

.submenu__link {
  display: block;
  padding: 10px 20px;
  color: var(--white);
  min-width: 300px;
  transition: all 0.5s ease;
}

.breadcrumbs {
  margin-top: 10px;
}

.breadcrumbs__body {
  padding: 8px 0;
}

.breadcrumbs__item {
  color: #212121;
  font-size: 0.8125rem;
  position: relative;
}

.breadcrumbs__item:not(:first-child)::before {
  content: "/ ";
}

.breadcrumbs__item:not(a) {
  color: #868686;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 3%;
  margin-bottom: 30px;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.8s ease;
  overflow-y: auto;
  z-index: 1000;
}

.modal._active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.modal__wrapper {
  min-height: 100vh;
  padding: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal__content {
  max-width: 600px;
  width: 100%;
  background: #fff;
  position: relative;
}

.modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--blue);
  padding: 15px;
}

.modal__title {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 700;
}

.modal__close {
  display: block;
  position: relative;
  width: 24px;
  height: 24px;
  min-height: 24px;
  align-self: flex-end;
  cursor: pointer;
}

.modal__close::before,
.modal__close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--white);
}

.modal__close::before {
  transform: translate(0, -50%) rotate(45deg);
}

.modal__close::after {
  transform: translate(0, -50%) rotate(-45deg);
}

.modal__body {
  padding: 15px;
}

.modal__text {
  text-align: center;
  margin-bottom: 24px;
}

.form__input {
  display: flex;
  flex-direction: column;
}

.form__input:not(:last-child) {
  margin-bottom: 24px;
}

.form__input input {
  border: none;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 15px 15px;
}

.form__input input::-moz-placeholder {
  color: #717171;
}

.form__input input::placeholder {
  color: #717171;
}

.form__label {
  margin-bottom: 8px;
  color: #717171;
  position: relative;
  align-self: flex-start;
  padding-right: 12px;
}

.form__label::after {
  content: "*";
  position: absolute;
  top: 0;
  right: 0;
  color: var(--red);
}

.form__btn {
  font-size: 1.125rem;
  color: var(--white);
  background: var(--blue);
  padding: 12px 30px;
  border-radius: 3px;
  letter-spacing: 0.56px;
  transition: all 0.5s ease;
}

.main {
  margin-top: 24px;
}

.main__body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.main__item {
  position: relative;
  aspect-ratio: 400/300;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 15px 10px;
}

.main__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main__image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease;
}

.main__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(100);
  transition: all 0.5s ease;
}

.main__title {
  font-size: 1.375rem;
  line-height: 1.4;
  color: var(--white);
  text-align: center;
  position: relative;
}

.about {
  padding: 24px 0;
}

.about__body {
  line-height: 1.5;
  text-align: center;
}

.about__body h2 {
  font-size: 1.75rem;
  letter-spacing: 5%;
  line-height: 1.3;
}

.about__body h2,
.about__body h3 {
  font-weight: 700;
}

.about__body h2:not(:last-child),
.about__body h3:not(:last-child),
.about__body p:not(:last-child),
.about__body ul:not(:last-child),
.about__body li:not(:last-child) {
  margin-bottom: 20px;
}

.about__body li::before {
  content: "• ";
}

.review {
  background: #3a3a3a;
  margin-top: 40px;
}

.review__body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px 0;
}

.review__btn {
  font-size: 1.125rem;
  color: var(--white);
  background: var(--red);
  padding: 12px 30px;
  border-radius: 3px;
  letter-spacing: 0.56px;
  transition: all 0.5s ease;
}

.services__body {
  padding: 40px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.services__image {
  margin-bottom: 16px;
  aspect-ratio: 400/300;
  position: relative;
}

.services__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services__name {
  font-size: 1.375rem;
  line-height: 1.4;
  color: var(--black);
}

.service__body {
  padding: 0 0 40px;
  line-height: 1.4;
}

.service__body h2 {
  font-weight: 700;
}

.service__body h2,
.service__body p,
.service__body ul {
  margin-bottom: 20px;
}

.service__body img {
  max-width: 32%;
  max-height: 232px;
  height: auto;
  vertical-align: middle;
}

.service__body li::before {
  content: "- ";
}

.service__body a {
  color: var(--red);
}

.service__body table {
  border-collapse: collapse;
  margin-bottom: 20px;
}

.service__body table td {
  padding: 20px 5px;
  text-align: center;
  border: 1px solid #000;
}

.service__center {
  text-align: center;
}

.contacts__body {
  display: flex;
  gap: 24px;
  padding: 40px 0;
}

.contacts__info {
  flex: 1 1 50%;
}

.contacts__office {
  font-size: 1.875rem;
  margin-bottom: 10px;
}

.contacts__item {
  line-height: 1.4;
  display: flex;
  gap: 5px;
}

.contacts__item_bottom {
  margin-top: 32px;
}

.contacts__item:not(:last-child) {
  margin-bottom: 8px;
}

.contacts__phone {
  display: flex;
  gap: 8px;
}

.contacts__phone:not(:last-child) {
  margin-bottom: 8px;
}

.contacts__link {
  color: var(--black);
  transition: all 0.5s ease;
}

.contacts__socials {
  display: flex;
  align-items: center;
  gap: 8px;
}

.contacts__social {
  width: 24px;
  height: 24px;
}

.contacts__social svg {
  width: 100%;
  height: 100%;
}

.contacts__map {
  flex: 1 1 50%;
  aspect-ratio: 1/1;
}

.contacts__map iframe {
  width: 100%;
  height: 100%;
}

.support__body {
  padding: 40px 0;
}

.blog__body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding: 40px 0;
}

.blog__image {
  width: 100%;
  position: relative;
  aspect-ratio: 270/200;
  overflow: hidden;
}

.blog__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.5s ease;
}

.blog__name {
  margin-top: 10px;
  font-weight: 700;
  font-size: 1.125rem;
  color: var(--black);
}

.single__image {
  margin-bottom: 10px;
}

.single__image img {
  max-width: 100%;
  height: auto;
}

.single__body {
  padding: 0 0 40px;
  line-height: 1.4;
}

.single__body h2 {
  font-weight: 700;
}

.single__body h2,
.single__body p {
  margin-bottom: 20px;
}

.single__body img {
  display: block;
  margin: 0 auto;
}

.single__center {
  text-align: center;
}

.footer__top {
  background: #edf6fb;
}

.footer__body {
  padding: 45px 0;
  display: flex;
  gap: 60px;
}

.footer__info {
  line-height: 2;
  font-weight: 700;
}

.footer__item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer__link {
  color: var(--black);
  transition: all 0.5s ease;
}

.footer__rights {
  padding: 15px 0;
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer__social {
  width: 24px;
  height: 24px;
}

.footer__social svg {
  width: 100%;
  height: 100%;
}

.footer__up {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 40px;
  height: 40px;
  z-index: 50;
  border: 1px solid #213268;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}

.footer__up.active {
  opacity: 0.7;
  visibility: visible;
}

.footer__up svg {
  width: 50%;
  height: 50%;
  stroke: #213268;
  stroke-width: 2px;
}

.menu-footer__list {
  display: flex;
  flex-direction: column;
}

.menu-footer__link {
  display: block;
  color: var(--black);
  font-weight: 700;
  line-height: 2;
  transition: all 0.5s ease;
}

@media (min-width: 768.1px) {
  .menu__close {
    display: none;
  }
}

@media (max-width: 1170px) {
  .logo__link img {
    max-width: calc(64px + 28 * (100vw - 320px) / 850);
  }

  .logo__link span {
    font-size: calc(0.875rem + 6 * (100vw - 20rem) / 850);
  }

  .title {
    font-size: calc(2rem + -2 * (100vw - 20rem) / 850);
    margin-bottom: calc(16px + 14 * (100vw - 320px) / 850);
  }

  .main__title {
    font-size: calc(1rem + 6 * (100vw - 20rem) / 850);
  }

  .services__name {
    font-size: calc(1.125rem + 4 * (100vw - 20rem) / 850);
  }
}

@media (max-width: 992px) {
  .main__body {
    grid-template-columns: repeat(2, 1fr);
  }

  .blog__body {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .header__btn {
    padding-inline: 16px;
  }

  .header__menu-icon {
    display: block;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: var(--white);
    overflow-y: auto;
    padding: 16px 0;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translate(-100%, 0);
    transition: all 0.5s ease;
  }

  .menu__body._active {
    transform: translate(0, 0);
  }

  .menu__body::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .menu__list {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu__link {
    color: var(--black);
    text-transform: uppercase;
    padding: 5px 16px;
    font-weight: 700;
  }

  .menu__link.active {
    background: none;
  }

  .submenu {
    position: static;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    background: none;
    padding: 0;
  }

  .submenu__link {
    color: var(--black);
    padding: 5px 16px 5px 32px;
    min-width: unset;
  }

  .services__body {
    grid-template-columns: repeat(2, 1fr);
  }

  .contacts__body {
    flex-direction: column;
  }

  .contacts__map {
    max-height: 400px;
  }

  .blog__body {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) and (max-width: 480px) {
  .menu__body {
    width: 75%;
  }
}

@media (max-width: 576px) {
  .service__body img {
    max-width: 48%;
  }
}

@media (max-width: 480px) {
  .header__top-body {
    justify-content: center;
  }

  .header__contacts {
    display: none;
  }

  .header__body {
    flex-wrap: wrap;
  }

  .lang {
    flex: 1 1 auto;
  }

  .main__body {
    grid-template-columns: 1fr;
  }

  .review__body {
    padding: 32px 0;
  }

  .services__body {
    grid-template-columns: 1fr;
  }

  .blog__body {
    grid-template-columns: 1fr;
  }

  .footer__body {
    flex-direction: column;
    gap: 24px;
    padding: 24px 0;
  }
}

@media (any-hover: hover) {
  .header__phone:hover {
    color: var(--red);
  }

  .header__btn:hover {
    background: var(--red);
  }

  .header__menu-icon:hover span,
  .header__menu-icon:hover::after,
  .header__menu-icon:hover::before {
    background: var(--red);
  }

  .menu__item:hover .submenu {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  .menu__link:hover {
    background: var(--red);
  }

  .submenu__link:hover {
    background: var(--blue);
  }

  .form__btn:hover {
    background: var(--red);
  }

  .main__item:hover .main__image img {
    filter: none;
    transform: scale(1.1);
  }

  .main__item:hover .main__image::after {
    opacity: 0;
  }

  .review__btn:hover {
    background: var(--blue);
  }

  .contacts__link:hover {
    color: var(--red);
  }

  .blog__item:hover .blog__image img {
    transform: scale(1.1);
  }

  .footer__link:hover {
    color: var(--red);
  }

  .menu-footer__link:hover {
    color: var(--red);
    background: #eee;
  }
}